.righteous {
  font-family: righteous, sans-serif;
  font-size: 48px;
}

.catamaran {
  font-family: catamaran, sans-serif;
  font-weight: bold;
}

.bg-gray {
  background-color: #f3efef;
}

.cairo {
  font-family: cairo, sans-serif;
}

.bg-orange {
  background-color: #f15025 !important;
}

.white-text {
  color: white;
}

.text-shadow {
  text-shadow: 2px 2px 2px lightgray;
}

.logo-shadow {
  text-shadow: 2px 2px 2px rgb(48, 48, 48);
}

label {
  font-size: 22px;
}
