.righteous {
  font-family: righteous, sans-serif;
  font-size: 48px;
}

.catamaran {
  font-family: catamaran, sans-serif;
  font-weight: bold;
}

.bg-gray {
  background-color: #f3efef;
  height: 100%;
}

.cairo {
  font-family: cairo, sans-serif;
}

.cairo-bold {
  font-family: cairo, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.bg-orange {
  background-color: #f15025 !important;
}

.white-text {
  color: white;
}

.text-shadow {
  text-shadow: 2px 2px 2px lightgray;
}

.logo-shadow {
  text-shadow: 2px 2px 2px rgb(48, 48, 48);
}

label {
  font-size: 22px;
}

.btn-orange-custom {
  color: white;
  background-color: #f15025;
}

img {
  object-fit: contain;
  min-height: 90;
}

.bg-black {
  background-color: black;
}

.card {
  max-height: 180px;
}

.border-hover {
  box-shadow: 0 0 3px black;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-delay: 0;
}

.border-hover:hover {
  box-shadow: 0 0 25px #f15025;
}
