.righteous {
  font-family: righteous, sans-serif;
  font-size: 48px;
}

.catamaran {
  font-family: catamaran, sans-serif;
  font-weight: bold;
}

.bg-gray {
  background-color: #f3efef !important;
}

.nav-button-styling {
  background-color: #ced0ce !important;
  border: 1px solid white !important;
  color: black !important;
}

.full-height {
  min-height: 100vh;
}

.bg-white {
  background-color: white;
}

.navbar {
  height: 55px;
}

.cairo {
  font-family: cairo, sans-serif;
  font-weight: normal;
}

i {
  background-color: #f15025;
}

.cairo-bold {
  font-family: cairo, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.bg-orange {
  background-color: #f15025 !important;
}

.white-text {
  color: white !important;
}

.text-shadow {
  text-shadow: 2px 2px 2px lightgray;
}

.logo-shadow {
  text-shadow: 2px 2px 2px rgb(48, 48, 48);
}

label {
  font-size: 22px;
}

.f-13 {
  font-size: 13px;
}

.f-36 {
  font-size: 36px !important;
}

.f-28 {
  font-size: 28px !important;
}

.btn-orange-custom {
  color: white;
  background-color: #f15025;
}

img {
  object-fit: contain;
  min-height: 90;
}

.bg-black {
  background-color: black;
}

.card {
  max-height: 180px;
}

.border-hover {
  box-shadow: 0 0 3px black;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-delay: 0;
}

.border-hover:hover {
  box-shadow: 0 0 25px #f15025;
}

.accordion-button {
  justify-content: center !important;
  text-align: center !important;
  background-color: #f15025 !important;
  height: 28px !important;
  color: white !important;
}

.accordion-button::after {
  display: none !important;
}

.display-img {
  background-color: black;
  max-height: 300px;
}

.px-3-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.none {
  display: none;
}

.orange-styling {
  height: 2.5rem;
  margin-right: 2px;
  color: #f15025;
  border: 1.5px solid #f15025 !important;
}

.search-box:focus {
  color: black;
  outline: none !important;
}

.btn-h-55 {
  height: 55px;
}

.focus-none:focus {
  box-shadow: none !important;
}

.bg-dark-gray {
  background-color: #ced0ce;
}

.absolute-styling {
  top: 31%;
  right: 10%;
}
